{% extends "base.html" %}
{% load tools %}

{% load info %}
{% load crispy_forms_tags %}
{% block base_content %}

{% with tool=current_user_data.tools|get_tool:'Job Manager' %}
{% include 'nav_header.html' %}
{% endwith %}

<!--include style.css from static/style.css-->
<link rel="stylesheet" type="text/css" href="../../static/style.css">

<form id="jobform" method="post">

    <div id="container">
        <div class="formcontainer">
            <form action="post" >
                {{ form }}
                <center>
                    <button href="" class="button1">Submit</button>
                </center>
            </form>
        </div>
    </div>

</form>

<!--import script-->
<script src="../../static/edit.js"></script>


{% endblock base_content %}